﻿<!-- Argon Scripts -->
<!-- Core -->
<script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="~/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="~/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- jquery-confirm -->
<script src="~/assets/vendor/jquery-confirm-v3.3.4/dist/jquery-confirm.min.js"></script>
<!-- Optional JS -->
<script src="~/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="~/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script src="~/assets/js/argon.js?v=1.2.0"></script>

