﻿<!-- Favicon -->
<link rel="icon" href="~/assets/img/brand/lib.png" type="image/png">
<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
<!-- Icons -->
<link rel="stylesheet" href="~/assets/vendor/nucleo/css/nucleo.css" type="text/css">
<link rel="stylesheet" href="~/assets/vendor/fortawesome-free/fontawesome-free/css/all.min.css" type="text/css">
<!-- jquery-confirm -->
<link href="~/assets/vendor/jquery-confirm-v3.3.4/dist/jquery-confirm.min.css" rel="stylesheet" />
<!-- Page plugins -->
<!-- Argon CSS -->
<link rel="stylesheet" href="~/assets/css/argon.css?v=1.2.0" type="text/css">

