﻿@model List<BooksModel>
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <!-- Search form -->
                        <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main" asp-action="Index">
                            <div class="form-group mb-0">
                                <div class="input-group input-group-alternative input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                    </div>
                                    <input name="Search" class="form-control" placeholder="Search by book name" type="text">
                                    <div class="input-group-append">
                                        <button style="border-color: transparent;" class="btn btn-outline-secondary" type="submit">Go</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a asp-action="Create" asp-area="Books" asp-controller="Home" class="btn btn-icon btn-secondary">
                            <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                            <span class="btn-inner--text">Add</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <!-- Dark table -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card bg-default shadow">
                    <div class="card-header bg-transparent border-0">
                        <h3 class="text-white mb-0">Book List</h3>
                    </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-dark table-flush">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col" class="sort" data-sort="name">Name</th>
                                            <th scope="col" class="sort" data-sort="budget">Author</th>
                                            <th scope="col" class="sort" data-sort="status">Description</th>
                                            <th scope="col">Category</th>
                                            <th scope="col" class="sort" data-sort="completion">Rating</th>
                                            <th scope="col" class="sort" data-sort="completion">Year</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        @if (Model.Count() == 0)
                                     {
                                        <tr>
                                            <th scope="row">
                                               There are no books in your Library. Add some!
                                                </th>
                                        </tr>
                                            } else {
                                            @foreach (var item in Model)
                                            {
                                        <tr>
                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <a href="#" class="avatar rounded-circle mr-3">
                                                    <img alt="Image placeholder" src="~/assets/img/theme/2.png">
                                                </a>
                                                <div class="media-body">
                                                    <span class="name mb-0 text-sm">@item.Name</span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="budget">
                                            @item.Author
                                        </td>
                                        <td style="padding-top:30px; width: 250px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap;">
                                            @item.Description
                                        </td>
                                        <td>
                                            @item.Category
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="completion mr-2">@item.Rating</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="@item.Rating" aria-valuemin="0" aria-valuemax="100" style="width: @item.Rating%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="budget">
                                            @item.Year
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-secondary deleteButton" id="@item.Id" type="button" style="width:70px">Delete</button>
                                            <a class="btn btn-sm btn-secondary" asp-action="Edit" asp-area="Books" asp-controller="Home" asp-route-booksId="@item.Id" style="width:70px"> Edit </a>
                                        </td>
                                    </tr>} }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                 </div>
        </div>


        <footer class="footer pt-0" style=" position: fixed; height: 100px; bottom: 0; width: 80%;">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6">
                    <div class="copyright text-center  text-lg-left  text-muted">
                        &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

  

    @section Scripts {
        <partial name="../Shared/Components/_PNotifyCustomJS" />

        <script>
        var indexPage = 0;
        var numberOfRows = 10;

    $(document).ready(function () {
        $(".deleteButton").click(function () {
            var objId = $(this).attr("id");

            $.confirm({
                title: 'Confirmation Needed!',
                content: 'Are you sure?',
                buttons: {
                    confirm: function () {
                        var url = '@Url.Action("Delete", "Home", new { Area = "Books", Id = "-1" })';
                        url = url.replace("-1", objId);

                        $.post(url, function (response) {
                            $.alert({
                                title: 'Alert!',
                                content: response + '!',
                                buttons: {
                                    ok: {
                                        text: 'Ok',
                                        action: function () {
                                            window.location.replace('@Url.Action("Index", "Home")');
                                        }
                                    }
                                }
                            });
                        });
                    },
                    cancel: function () { }
                }
            });
        });
    })
        </script>
    }
